/* General Styles */
body {
    padding: 20px;
    margin: 0;
    background-color: #fefdfa;
    height: 100%;
  }
  
  h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #5a4a42;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #dfd3c3;
    padding-bottom: 0.5rem;
  }
  
  /* Main Container */
  .main-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 10px;
  }
  
  .content-container {
    flex: 1;
    max-width: 900px;
  }
  
  .divider-container {
    display: flex;
    align-items: center;
  }
  
  .custom-divider {
    height: 600px;
    border-left: 2px solid #815f33;
  }
  
  .image-button-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .image {
    width: 350px;
    height: 300px;
  }
  
  /* Subgroup Card */
  .sg-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .notification {
    position: relative;
    cursor: pointer; /* Make it clear the card is clickable */
  }
  
  .notititle {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .notibody {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .etudiants-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
  }
  
  .etudiant-item {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  
  .primary-cta {
    background-color: #6d4b14;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .primary-cta:hover {
    background-color: #6d4b14;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
      align-items: center;
    }
  
    .content-container {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .image-button-container {
      width: 100%;
    }
  }
  