


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webleb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="display:flex; align-items:center; justify-content:center;">
<div class="login-page">
  <div class="form" >
   
    
      
       
        <form [formGroup]="UpdateCoursForm" (ngSubmit)="updateCours()">
          <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom" [hidden]="true">
       
          <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom">
          <div *ngIf="UpdateCoursForm.get('nom')?.invalid && submitted" class="text-danger">
              Le nom du cours est requis.
          </div>
          
          <input type="number" class="form-control" id="coefficient" formControlName="coefficient" placeholder="Coefficient">
          <div *ngIf="UpdateCoursForm.get('coefficient')?.invalid && submitted" class="text-danger">
              Le coefficient est requis et doit être un nombre.
          </div>
      
          <input type="number" class="form-control" id="credits" formControlName="credits" placeholder="Credits">
          <div *ngIf="UpdateCoursForm.get('credits')?.invalid && submitted" class="text-danger">
              Les crédits sont requis et doivent être un nombre.
          </div>
      
          <button type="submit" [disabled]="UpdateCoursForm.invalid">Modifier</button>
      </form>
      
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script >$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});</script>
</body>
</html>
