@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
.center-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }
  


/*-- VARIABLES CSS--*/
/*Colores*/

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    text-align: center;
  }
  
  .success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
  
  .error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  
.form-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .form-floating {
    margin-right: 8px; /* espace entre l'input et le bouton */
  }
  
  .form-control {
    width: 200px;
    height: 40px;
  }
  
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 2rem 0 0 0;
    background-color: #ffffff;
    color: #161616;
    font-family: var(--body-font);
}
h1{
    font-size: var(--h1-font-size);
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
}
.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop{
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: #161616;
    margin-left: .25rem;
}

/*-- COMPONENT --*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
article:nth-child(n){
    background-color: #fafef2;
}

.card__img{
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: #161616;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.card__icon{
    font-size: 1.5rem;
    color: #161616;
}
.card__icon:hover{
    color: #FF5151;
}
.card__precis{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: 1.7rem;
    color: #6d4324;
    margin-bottom: .25rem;
    margin-left: 80px;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
    margin-left: 80px;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    transform: rotate(30deg);
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}


/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    
}                                         
.primary-cta {
    font-size: 16px; /* Taille du texte */
    background-color: #c8b79e; /* Couleur de fond beige foncé */
    color: #ffffff; /* Couleur du texte blanc */
    border: none; /* Pas de bordure */
    border-radius: 0.5em; /* Bords arrondis */
    padding: 0.5em 1em; /* Espacement intérieur */
    cursor: pointer; /* Curseur pointer */
    transition: background-color 0.3s, transform 0.2s; /* Transition pour hover */
    display: flex; /* Pour centrer l'icône et le texte */
    align-items: center; /* Centrer verticalement */
    margin-right:5px
}

.primary-cta:hover {
    background-color: #a89579; /* Couleur de fond plus foncée au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
}

.primary-cta:focus {
    outline: none; /* Supprimer le contour par défaut */
    box-shadow: 0 0 0 2px rgba(200, 183, 158, 0.5); /* Ombre au focus */
}
          /* Conteneur principal */
.container {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Bouton pour afficher le popup */
  .btn-show-popup {
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-show-popup:hover {
    background-color: #0056b3;
  }
  
  /* Arrière-plan transparent */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan transparent */
    z-index: 10;
  }
  
  /* Popup */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 20;
    width: 300px;
    text-align: center;
  }
  
  /* Contenu du popup */
  .popup-content h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #343a40;
  }
  
  .popup-content p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #6d4324;
    margin: 10px 0;
  }
  
  /* Bouton pour fermer le popup */
  .btn-close {
    font-size: 30px;
    color: #ff5e57;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-close:hover {
    color: #d9534f;
  }
  .moyenne .btn-show-popup {
    font-size: 16px;
    background-color: #6d4324; /* Vert pour le bouton */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    margin: 20px;
  }
  
  /* Effet au survol */
  .moyenne .btn-show-popup:hover {
    background-color: #7a5337; /* Vert plus foncé au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
  }
  
  /* Effet actif (clic) */
  .moyenne .btn-show-popup:active {
    background-color:#6d4324; /* Vert encore plus foncé */
    transform: translateY(2px); /* Légère pression visuelle */
  }
  .rejoindre{
    border-radius:10px ;
    background-color: #6d4324;
    height: 40px;
    width: 40px;
    color: #D1D9E6;
  }